.EquivalenceOfFees {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
    }
  }
}
