aside {
  position: relative;
  height: 100%;
  color: var(--text);
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  button.indicator {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 50%;
    font-size: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 100%;
    box-shadow: var(--box-shadow);
    width: 3rem;
    height: 3rem;
  }

  &.closed-false {
    .TopBox {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 3rem;
        &.isotipo {
          visibility: visible;
          display: initial;
        }
        &.imagotipo {
          visibility: hidden;
          display: none;
        }
      }

      ul li a {
        width: fit-content;
        span {
          visibility: hidden;
          display: none;
        }
      }
    }

    .BottomBox {
      button {
        width: fit-content;
        span {
          visibility: hidden;
          display: none;
        }
      }
    }
  }

  svg {
    font-size: 1.5rem;
    color: inherit;
  }

  span {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 500;
  }

  > div {
    padding: 1rem;
  }

  .TopBox {
    display: flex;
    flex-direction: column;
    img {
      height: 3rem;
      &.isotipo {
        visibility: hidden;
        display: none;
      }
      &.imagotipo {
        visibility: visible;
        display: initial;
      }
    }

    ul {
      margin-top: 1rem;
      list-style-type: none;

      li {
        margin: 1rem 0;
        a {
          display: flex;
          align-items: center;
          transition: var(--transition-time);
          border: 0;
          padding: 0.75rem;
          border-radius: var(--border-radius);

          span {
            margin-left: 1rem;
          }

          &:hover {
            background-color: var(--secondary);
            color: var(--white);
            svg {
              path {
                stroke: var(--white);
              }
            }
          }
        }
      }
    }
  }

  .BottomBox {
    border-top: 1px solid #ccc;
    button {
      width: 100%;
      border: 0;
      display: flex;
      align-items: center;
      background-color: transparent;
      padding: 0.75rem;
      color: inherit;
      border-radius: var(--border-radius);
      transition: var(--transition-time);
    }
    .Logout {
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: var(--white);
        background-color: var(--red);
      }
    }
    .theme {
      &:hover {
        background-color: var(--secondary);
        color: var(--white);
        svg {
          path {
            stroke: var(--white);
          }
        }
      }
    }
  }
}
